body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --primary_brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

/* Ð¡ontainer */

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

    /* Delete after verst */
    /* outline: 2px solid tomato;
    outline-offset: -2px; */
}

/* Section Preferenses */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Layout settings (headings, colors) */

/* Top Page */

.header {
    border-bottom: 1px solid var(--accent)
}

.header-container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;    
}

.nav-page {
    background: var(--white-background);
    display: flex;
    align-items: center;
}

.nav-list-item {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

.nav-link {
    padding: 24px 0; 
}

/* Reset */

.link {
    text-decoration: none;
    font-style: normal;
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 p {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Hidden preferenses */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Header */

/* Logo */

.logo-web {
    color: var(--primary_brand);
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
    margin-right: 76px;
    display: inline-block;
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    color: var(--dark);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.1666;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

/* Address */
.address {
    color: var(--text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em; 
}

.address-contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address:hover,
.address:focus {
    color: var(--pressed-state);
}


.hero-image {
    background-color: var(--dark);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
    url(/images/people_office_1.jpg);
    background-repeat: no-repeat;
    min-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

/* Team */

.team-header {
    margin-bottom: 72px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card-name {
    gap: 8px;
    padding: 32px 0;
}
.team-section {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-member-card {
    background-color: var(--white-background);

    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.team-member-header {
    text-align: center;
    margin-bottom: 8px;
}

.team-member-descr {
    text-align: center;
    margin: 0;
}

/* Header 1 */

.header-one {
    color: var(--white-background);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: 0.02em;
    max-width: 496px;
    justify-content: center;
    margin: 0 auto;
}

/* Header 2 */
.header-two {
    color: var(--dark);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.preferences {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.preferences-item {
    width: calc((100% - 72px) / 4);
}

.ach-section {
    padding-bottom: 120px;
}

.achievement {
    margin-bottom: 72px;
}

.ach-link {
    display: block;
    width: calc((100% - 48px) / 3);
}

/* Header 3 */
.header-tree {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

.header-preferenses {
    margin-bottom: 8px;
}

/* Body */
.body {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.preferenses-descr {
    margin: 0;
}

.studio-img {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* Small text */
/* .small {
    
} */

/* Body Medium */
.body-medium {
    color: var(--text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.body-medium-header {
    color: var(--dark);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;

    display: block;
}

.address {
    font-style: normal;
}

.body-medium-header:hover, 
.body-medium-header:focus {
    color:var(--pressed-state);
}

/* Button Text Studio*/

.button-studio-text {
    font-family: 'Roboto', sans-serif;
    color: var(--white-background);
    background-color: var(--primary_brand);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;

    display: block;
    justify-content: center;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 4px;
    /* border-style: none;
    border-radius: 4px; */
    border-bottom-color: var(--primary_brand);
    min-width: 169px;
    border: none;
}

.button-studio-text:hover,
.button-studio-text:focus {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pressed-state);
    color: var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

/* Footer */

.ftr-container {
    display: flex;
    align-self: baseline;
    padding: 0;
}

.frt-descr {
    margin-right: 120px;
}

.ftr-page {
    background: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
}

.ftr-page-text {
    color: var(--light);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    width: 264px;
    margin: 0;
}

.ftr-media {
    color: var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;

    fill: var(--light);
    margin: 0;
}

.frt-icon {
    width: 40px;
    height: 40px;
}

.ftr-media-descr {
    margin: 0;
    margin-bottom: 16px;
}

.ftr-icons-list {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 16px;
}

.link-media {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary_brand);
    border-radius: 50%;
}

.link-media:hover,
.link-media:focus{
    background-color: var(--success);
}

.frt-icon {
    fill: var(--primary_brand);
}

.ftr-logo-studio {
    color: var(--light);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.1666;
    letter-spacing: 0.54px;
    text-transform: uppercase; 
}

.logo-web-frt {
    color: var(--primary_brand);
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    display: inline-block;
}

/* Portfolio */

.list-nav {
    padding: 24px 0;
}

.section-portfolio {
    padding: 96px 0 120px 0;
}

.filters-container {
    padding: 0 0;
    justify-content: center;
    margin-bottom: 72px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* Button text Portfolio */

.button-text {
    font-family: 'Roboto', sans-serif;
    color: var(--primary_brand);
    background-color: var(--light);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    padding: 12px 24px;
    margin: 0 auto;     
    border: 1px solid var(--accent);
    border-radius: 4px;
}

.button-text:hover,
.button-text:focus {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pressed-state);
    color: var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;

    border: 1px solid transparent;
}

.portfolio-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-header {
    /* text-align: left; */
    margin-bottom: 8px;
}

.portfolio-p {
    margin: 0;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);
}

.card-container {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none; 
}
